.lesson {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.block-card-view {
  width: 100%;
}

.block-topic {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.block-sub-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.card-media {
  height: 200px;
  width: 100%;
}

.block-lesson-action {
  justify-content: flex-end;
}