body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.block-header {
  position: fixed !important;
  justify-content: center !important;
  flex-direction: unset !important;
  .block-header-content {
    width: 100%;
    max-width: 1920px !important;
    position: relative;
    .block-header-content-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
  }
}

.block-body-content {
  box-sizing: border-box;
  padding: 60px 24px 10px 24px;
  position: relative;
  max-width: 1920px !important;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    padding: 60px 10px 10px 10px;
  }
  @media only screen and (max-width: 960px) {
    padding: 60px 15px 10px 15px;
  }
}

.block-footer {
  padding: 0px 30px 60px 30px;
  margin-top: 10%;
  .block-footer-devider {
    margin-bottom: 20px !important;
    max-width: 1920px !important;
    margin: 0 auto;
  }
  .block-footer-content {
    max-width: 1920px !important;
    padding: 0px 10px;
    margin: 0 auto;
    .block-footer-content-link {
      color: #0366d6 !important;
      cursor: pointer;
      margin: 0px 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}