.block-footer {
  padding: 0px 30px 60px 30px;
  margin-top: 15%;
}

.block-footer-devider {
  margin-bottom: 20px !important;
}

.block-footer-content {
  padding: 0px 10px;
  max-width: 1920px !important;
  margin: 0 auto;
}

.block-footer-content-link {
  color: #0366d6 !important;
  cursor: pointer;
  margin: 0px 5px;
}

.block-footer-content-link:hover {
  text-decoration: underline;
}
